<!DOCTYPE html>
<head>
    <link rel="stylesheet" href = "/styles.css">
    <title>Entry</title>
</head>
<body>
    <div class="display">
        <p><a href="/history">Back</a></p>
        <h2><%= entry.artist %> - <%= entry.title %></h2>
        <p><%= entry.lyrics %></p>
    </div>
</body>
</html>