<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Lyric App</title>
</head>
<body>
    <div class="display">
        <h1>Lyric App</h1>
        <form method="POST" action="/lyrics">
            Artist<input name="artist">
            Song Title <input name="title">
            <button type="submit">Get Lyrics</button>
        </form>
        <p><a href="/history">View saved history</a></p>
    </div>
</body>
</html>